


.product_wrapper {
	float:left;
	padding: 25px;
	text-align: center;
	}
.product_wrapper:hover {
	box-shadow: 0 0 0 2px red;
	cursor:pointer;
	}
.product_wrapper .name {
	font-weight:bold;
	}


  
.message_box .box{
	margin: 10px 0px;
    border: 1px solid #2b772e;
    text-align: center;
    font-weight: bold;
    color: #2b772e;
	}
.table td {
	border-bottom:red 1px solid;
	padding: 10px;
	}
.cart_div {
	float:right;
	font-weight:bold;
	position:relative;
	}
.cart_div a {
	color:#000;
	}	
.cart_div span {
	font-size: 12px;
    line-height: 14px;
    background: var(--red);
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 13px;
    color: #fff;
    width: 14px;
    height: 13px;
    text-align: center;
	}
.cart .remove {
    background: none;
    border: none;
    color: #0067ab;
    cursor: pointer;
    padding: 0px;
	}
.cart .remove:hover {
	text-decoration:underline;
	}
/**/
:root{
  --black:#354046;
}

*{
  
  margin:0; padding:0;
  box-sizing: border-box;
  border:none !important;
  outline: none !important;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 400;
  transition: all .2s linear;
}

*::selection{
  background:var(--black);
  color:#fff;
}


html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
  background:#c9def0;
}

section{
  overflow: hidden;
}

  /*header button*/
  .button{
    height:3.5rem;
    width: 15rem;
    background:var(--red);
    color:#fff;
    font-size: 1.7rem;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin:1rem 0;
  }
  
  .button::before{
    content: '';
    position: absolute;
    top: -100%; left: 0;
    height:100%;
    width: 100%;
    background-color: var(--black);
    z-index: -1;
    transition: .2s linear;
  }
  
  .button:hover:before{
    top: 0%;
  }
  
  .button:hover{
    box-shadow: .1rem .5rem var(--red),
                0 .3rem .5rem rgba(0,0,0,.3);
  }
  
  .heading{
    text-align: center;
    font-size: 4rem;
    padding:1rem;
    padding-top: 8rem;
    color:var(--black);
  }
  
  header{
    width:100%;
    position: fixed;
    top:0; left: 0;
    padding:2rem 1rem;
    z-index: 1000;
  }
  
  .header-active{
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    padding: .5rem 1rem;
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
  
  header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  header a{
    color:var(--black);
  }
  
  header a:hover{
    color:var(--red);
  }
  
  
  header .nav ul{
    margin:0; padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  
  header .nav ul li{
    margin: 0 1rem;
  }
  
  header .nav ul li a{
    font-size: 2rem;
  }
  
  .home .content h1{
    font-size: 5rem;
    color:var(--black);
  }
  
  .home .content h1 span{
    color:var(--blue);
  }
  
  .home .content h3{
    font-size: 4rem;
    color:var(--black);
  }
  
  .facility .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom:3rem;
  }
  
  .facility .box-container .box {
    height:450px;
    width: 300px;;
    margin: 30px;
    overflow: hidden;
    
  }
  
  .facility .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
    
  }
  
  .facility .box-container .box:hover img{
    transform: scale(1.3);
  }
  
  .logo { 
    width:100px;
    height:50px;
    text-align:center;
  }
  
  .logo img {
    height:100%;
  }
  
  .cart img{
    width: 40px;
    height: 40px;
  }

 .search {
  font-size: 20px;
  
 }
  
 a:hover {
  cursor: pointer;  
} 
  
.logout img {
  height: 40;
  width: 40;
}



  